h1, h2, h3, h4 {font-size: 100%; margin: 0; padding: 0; font-weight: inherit;}
pre {margin: 0; line-height: 1em;}
html, body {margin: 0; padding: 0;}

.slide blockquote {border: 0.1cm dashed #ffc000; padding: 0.2cm;}
.slide blockquote ul li {margin-bottom: 0.5em;}

kbd {font-weight: bold; font-size: 1em;}
sup {font-size: smaller; line-height: 1px;}

.slide code {padding: 2px 0.25em; font-weight: bold;}
.slide ul {margin-left: 5%; margin-right: 7%; list-style: disc;}
.slide li {margin-top: 0.5em; margin-right: 0; line-height: 1.2em; padding-left:1%;}
.slide ul ul {line-height: 1;margin-left: 2%;}
.slide ul ul li {margin: .2em; font-size: 85%; list-style: square;}
.slide img.leader {display: block; margin: 0 auto;}
.slide table ul {margin-left: 1em;}
.slide dd {margin-left: 6%;}

div#footer {font-size: 20pt; padding: 1em 0;}
#footer h1, #footer h2 {display: block; padding: 0 1em;}
#footer h2 {font-style: italic;}

div.long {font-size: 0.75em;}
h1 abbr {font-variant: small-caps;}

div#controls {position: absolute; left: 50%; bottom: 0;
  width: 50%;
  text-align: right; font: bold 36pt Verdana, Helvetica, sans-serif;}
html>body div#controls {position: fixed; padding: 0 0 1em 0;
  top: auto;}
div#controls form {position: absolute; bottom: 0; right: 0; width: 100%;
  margin: 0; padding: 0;}
#controls #navLinks a {padding: 0; margin: 0 0.5em; 
  border: none;
  cursor: pointer;}
#controls #navList {height: 1em;}
#controls #navList #jumplist {position: absolute; bottom: 0; right: 0;}

.slide.notitle {right: 0; padding-top: 1em; padding-bottom: 1em; text-align: center;}
.slidecontent {padding: 0 0 1em 0;}

ul.urls {list-style: none; display: inline; margin: 0;}
.urls li {display: inline; margin: 0;}
.note {display: none;}

.external {border-bottom: 1px dotted gray;}
html>body .external {border-bottom: none;}

.slide .slideonly { display: none; }

/* diagnostics

li:after {content: " [" attr(class) "]"; color: #F88;}
 */
