/* Following are the presentation styles -- edit away! */

body {background: #FFF url(textbook.png) -16px 0 repeat fixed; color: #000; font-size: 2.25em;}

:link, :visited {text-decoration: none; color: #00C;}
#controls :active {color: #88A !important;}
#controls :focus {outline: 1px dotted #227;}

.slide code {color: #533;}
.slide code.bad, code del {color: red;}
.slide code.old {color: silver;}

div#header, div#footer {color: #AAB;}
div#header {background: url(custis.png) 98% 50% no-repeat; height: 15%;
  line-height: 1px; }

.slide h1.stitle {position: relative; z-index: 1;
  margin: -2em 0 0.5em 0; padding: 0.3em 0 0 50px;
  width: 80%;
  font-size: 150%/1em;
  font-weight: bold;}
.slide.notitle h1.stitle {position: static; margin: 0; padding: 0; width: auto;}
.slide h3 {font-size: 130%;}

div#controls {left: 60%; width: 40%;}
#controls #navLinks a {background: #005; color: #779;}
#controls #navList #jumplist {background: #DDD; color: #227;}

#currentSlide {text-align: center; font-size: 20pt; color: #449;}

#slide0 {padding-top: 3.5em; font-size: 90%;}
#slide0 h1 {position: static; margin: 1em 0 0; padding: 0;
   font: bold 2em Helvetica, sans-serif; white-space: normal;
   color: #000; background: transparent;}
#slide0 h2 {font: bold italic 1em Helvetica, sans-serif; margin: 0.25em;}
#slide0 h3 {margin-top: 1.5em; font-size: 1.5em;}
#slide0 h4 {margin-top: 0; font-size: 1em;}
