/* Pixel Theme 2004 by Martin Hense ::: www.lounge7.de */

/* Following are the presentation styles -- edit away!
   Note that the 'body' font size may have to be changed if the resolution is
    different than expected. */

body {background: transparent url(pixelbg.gif) repeat-y; color: #08093F; font-size: 1.8em;}
:link, :visited {text-decoration: none;}
#controls :active {color: #88A !important;}
#controls :focus {outline: 1px dotted #227;}

.slide code {color: #533;}
.slide code.bad, code del {color: red;}
.slide code.old {color: silver;}
.slide ul {margin-right: 7%; margin-left: 50px; list-style: square;}

div#header, div#footer {background: #005; color: #646587;
  font-family: Verdana, Helvetica, sans-serif;}
div#header {background: transparent url(pixelheader.jpg) 0 0 no-repeat; height: 75px;}
div#footer {border-top: 1px solid #08093F; background: #fff;}

.slide {font-family: Verdana, Helvetica, Arial, sans-serif;}
.slide h1 {top: 30px; z-index: 1;
  margin: 0; padding: 0.3em 0 0 50px; white-space: nowrap;
  font: bold 150%/1em Helvetica, sans-serif; text-transform: capitalize;
  top: 1.4em; left: 2%;
  color: #08093F; background: transparent;}
.slide h3 {font-size: 130%;}

#controls #navLinks a {background: #FFF; color: #779;}
#controls #navList #jumplist {background: #FFF; color: #227;}

#currentSlide {text-align: center; font-size: 20pt; color: #646587;
   font-family: Verdana, Helvetica, sans-serif; font-weight: bold;}

#slide0 {padding-top: 3.5em; font-size: 90%;}
#slide0 h1 {position: static; white-space: normal;
   margin: 0; padding: 100px 60px 0 400px; text-align: left;
   font: bold 2em Helvetica, sans-serif; white-space: normal; height: 281px;
   color: #fff; background: transparent url(pixelslide0bg.gif) no-repeat;}
#slide0 h3 {margin-top: 0.5em; font-size: 1.5em;}
#slide0 h4 {margin-top: 0; font-size: 1em;}
